{% extends "base.html" %}
{% block title %} Login {% endblock %}
{% block customCSS %}
    <link rel="stylesheet" href="/static/footer.css">
{% endblock %}

{% block header %} <div class="center">LOGIN</div> {% endblock %}
{% block content %}
  <div class="container center">
    {% with messages = get_flashed_messages() %}
    {% for msg in messages %}
      {{ msg }} <br>
    {% endfor %}
    {% endwith %}
    <form method="post" action="/login/auth">
      <input type="text" name="username" placeholder="username"><br>
      <input type="password" name="password" placeholder="password"><br>
      <input class="waves-effect waves-light btn" type="submit" name="login" value="LOGIN">
    </form>
    <div>
      <class>
        
      </class>
    </div>
  </div>
{% endblock %}