{% extends "base.html" %}
{% block title %} Login {% endblock %}

{% block header %} <div class="center">Login</div> {% endblock %}
{% block content %}
  <div class="container center">
    {% with messages = get_flashed_messages() %}
    {% for msg in messages %}
      {{ msg }} <br>
    {% endfor %}
    {% endwith %}
    <form method="post" action="/login/auth">
      <input type="text" name="username" placeholder="username" value="" minlength=1><br>
      <input type="password" name="password" placeholder="password" value="" minlength=1><br>
      <button style="color:#EBDA23" class="waves-effect waves-light red darken-4 btn" type="submit" name="login">Login</button>
    </form><br>
    <a style="color:#EBDA23" class="waves-effect waves-light red darken-4 btn" href="{{ url_for('register') }}"> Don't have an account? Register </a>
  </div>
{% endblock %}