{% extends "base.html" %}
{% block title %} Register {% endblock %}
{% block customCSS %}
    <link rel="stylesheet" href="/static/footer.css">
{% endblock %}

{% block header %} <div class="center">REGISTER</div> {% endblock %}

{% block content %}
  <div class="container center">
    {% with messages = get_flashed_messages() %}
    {% for msg in messages %}
      {{ msg }} <br>
    {% endfor %}
    {% endwith %}
    <form method="post" action="/register/auth">
      <input type="text" name="username" placeholder="username"><br>
      <input type="password" name="password" placeholder="password"><br>
      <input type="password" name="confirm" placeholder="confirm password"><br>
      <button class="waves-effect waves-light btn" type="submit" name="register">REGISTER</button>
    </form>
  </div>
{% endblock %}