{% extends "base.html" %}
{% block title %} Register {% endblock %}

{% block header %} <div class="center">Register</div> {% endblock %}
{% block content %}
  <div class="container center">
    {% with messages = get_flashed_messages() %}
    {% for msg in messages %}
      {{ msg }} <br>
    {% endfor %}
    {% endwith %}
    <form method="post" action="/register/auth">
      <input type="text" name="username" placeholder="username" minlength=3><br>
      <input type="password" name="password" placeholder="password" minlength=3><br>
      <input type="password" name="confirm" placeholder="confirm password" minlength=3><br>
      <button style="color:#EBDA23" class="waves-effect waves-light red darken-4 btn" type="submit" name="register">REGISTER</button>
    </form>
  </div>
{% endblock %}