{% extends "base.html" %}
{% block title %} Finance {% endblock %}
{% block header %} FINANCE {% endblock %}

{% block content %}
<div>
    {% for article in articlesList %}
        <a href="{{ article.url }}">{{ article.headline }} by {{ article.source}}</a><br>
        <form method="get" action="{{ url_for('saveArticle') }}">
            <input type="hidden" name="index" value={{article.index}}>
            <input type="submit" value="Submit"></input>
        </form><br>
    {% endfor %}
</div>
{% endblock %}