{% extends "base.html" %} {% block title %} Finance {% endblock %} {% block header %} Finance {% if search %} SEARCH - {{symbol.upper()}} {% endif %}{% endblock %} {% block content %}
<h3>Symbol Search: </h3>
<div class="container">
    <form method="post" action="/finance">
        <input type="text" name="symbol" placeholder="Enter Symbol Here:">
        <button style="background-color:Transparent" class="btn waves-effect waves-light" type="submit">
                <i class="material-icons" style="color:black">search</i>
            </button>
    </form>
</div>
<div>
    {% if not search %}
    <div style="margin-bottom:12%;">
        <p>
            <h4>Enter a stock symbol here. To get a stock symbol, use this <a href="https://www.google.com/finance">Google reference.</a></h4>
        </p>
    </div>
    {% endif %}
</div>
{% for article in articlesList %}
<div class="collection">
    <a class="collection-item" style="color:black;" href="{{ article.url }}" target="_blank">
        <h3>{{article.headline}}</h3>
        <h5>by {{ article.source }}</h5>
    </a>
    <div class="red darken-4">
        <br>
        <hr>
    </div>
</div>
{% endfor %}

{% endblock %}
